.info{
  position: fixed;
  bottom: 5%;
}

.ui.grid > .row{
  padding-bottom: 0rem !important;
}

.column.row{
  /* margin-top: 0.3%; */
  max-width: 98%;
  height: 717px;
  left: 1%;
  bottom: 0;
  color: #fff;
}

#garnet{
  background-image: url("images/garBack2.jpg");
  background-position: center;
  /* background-size: cover; */
}

#pearl{
  background-image: url("images/peaBack.jpg");
  background-position: center;
  /* background-size: cover; */
  color: #888;
}

#amethyst{
  background-image: url("images/ameBack.jpg");
  background-position: center;
  /* background-size: cover; */
}

#steven{
  background-image: url("images/steven.jpg");
  background-position: center;
  /* background-size: cover; */
}
